<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <style>
        #map {
            position: absolute;
            top: 200px;
            bottom: 50px;
            left: 50px;
            right: 50px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <div id="map"></div>
            </td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <script>
        var map = L.map('map').setView([32, 34], 10);

        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=f8r453uR6vELlt49X1ng', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
        }).addTo(map);
    </script>
</body>
</html>